<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.freeiconspng.com/uploads/movie-icon-27.png">
	
	<title>Attendance</title>
	
	<!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Bootstrap theme -->
    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<title>Theatre Manager</title>
<style>
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 6px;
}
</style>
</head>
<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/manager">Back To Worker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			<li class="active"><a href="/attendance">Attendance</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><br /><br />
	
	<div class="page-header" style="margin-left:80px;">
		<h1>Attendance</h1>
	</div>
	
	<div class="col-md-7" style="margin-left:300px;">
	<div  style="margin-left:200px;">
	  <table class="table table-striped">
		<tr>
			<th>CustomerID</th>
			<th>ShowingID</th>
			<th>Rating</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Showing Date/Time</th>
			<th>MovieID</th>
			<th>Movie Title</th>
		</tr>
		{% for attendee in attendance %}
		<tr>
			<th>{{ attendee.0 }}</th>
			<th>{{ attendee.1 }}</th> 
			<th>{{ attendee.2 }}</th>
			<th>{{ attendee.3 }}</th>
			<th>{{ attendee.4 }}</th>
			<th>{{ attendee.5 }}</th>
			<th>{{ attendee.6 }}</th>
			<th>{{ attendee.7 }}</th>
		{% endfor %}
		</tr>
	</table>
	</div>
	</div>
 </body>
 </html>