<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.freeiconspng.com/uploads/movie-icon-27.png">
	
	<title>Welcome to Movie Theatre</title>
	
	<!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Bootstrap theme -->
    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<title>Theatre Manager</title>
</head>
<body>
	
	<div class="page-header" style="margin-left:80px;">
			<h1>Hello {{ FirstName }} {{ LastName }}, welcome to Theatre Manager!</h1>
		</div>
	
	<div class="alert alert-success" role="alert" style="margin-left:10px;">
        <strong>Well done!</strong> You successfully Creat account.
		</div>
    <br />
	<div class="new" style="margin-left:120px;">
				
				<a href="/login" class="btn btn-success">Sign in</a><br />
			</div>
</div>
</body>
 </html>