<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.freeiconspng.com/uploads/movie-icon-27.png">

    <title>Movie Theatre</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/dist/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
		<img style="width:100px;height:100px" src="http://www.freeiconspng.com/uploads/movie-icon-27.png">
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
			  
              <h3 class="masthead-brand">Computer Science 3319</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/login">Login</a></li>
				  <li><a href="/nowplaying">Now Playing</a></li>
				  <li><a href="/showtime">Show Time</a></li>
                  <li><a href="/manager">Manager</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Movie Theatre</h1>
            <p class="lead">Computer Science 3319 Assingmen 3.<br />A systerm let you manage theatre.<br /></p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-default">Log in</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Create by Lin Su, Zhen Dai</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	
  </body>
</html>